<meta charset="utf-8">
<title><%= @item[:title] %> - Casa Victòria</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="<%= @item[:description] %>"/>
<meta property="og:description" content="<%= @item[:description] %>"/>
<meta property="og:image" content="<%= @item[:featured_image] %>"/>
<!-- you don't need to keep this, but it's cool for stats! -->
<meta name="generator" content="nanoc <%= Nanoc::VERSION %>">